
    <table class="table-bordered table arrow">
        <tr>
            <th>Titre</th>
            <th>Url</th>
            <th>Date creation</th>
            <th>Heure creation</th>
            <th>Edition</th>
            <th>Suppression</th>
            <th>Partager</th>
            <th>Tags</th>
            <th>Nombre de Cliques</th>
        </tr>
        {% for item in result %}
            <tr>
                <td>{{ item.clique.lienClique.titre }}</td>
                <td><a href="{{ item.clique.lienClique.url }}">{{ item.clique.lienClique.url }}</a></td>
                <td>{{ item.clique.lienClique.dateCreation | date('d/m/Y') }}</td>
                <td>{{ item.clique.lienClique.dateCreation| date('h') }} H {{ item.clique.lienClique.dateCreation| date('i') }}</td>
                <td>
                    <a href="{{ path('Modifier_Lien',{id : item.clique.lienClique.id }) }}" class="btn btn-info">Edidter</a>
                </td>
                <td>
                    <a href="{{ path('Supprimer_Lien',{id : item.clique.lienClique.id }) }}" class="btn btn-danger">Supprimer</a>
                </td>
                <td>
                    <a href="{{ path('Partager_Lien',{id : item.clique.lienClique.id }) }}" class="btn btn-success">Partager</a>
                </td>
                <td>{% for tag in item.clique.lienClique.tags %}<a href="#">#{{ tag.libelle }} </a> {% endfor %}</td>
                <td>{{ item.nombreClique }}</td>
            </tr>
        {% endfor %}

    </table>
