

    <table class="table-bordered table arrow">
        <tr>
            <th>Titre</th>
            <th>Url</th>
            <th>Date creation</th>
            <th>Heure creation</th>
            <th>Edition</th>
            <th>Suppression</th>
            <th>Partager</th>
            <th>Moyenne</th>

        </tr>
        {% for lien in result %}
            <tr>
                <td>{{ lien.Notation.lienNote.titre }}</td>
                <td><a href="{{ lien.Notation.lienNote.url }}">{{ lien.Notation.lienNote.url }}</a></td>
                <td>{{ lien.Notation.lienNote.dateCreation| date('d/m/Y') }}</td>
                <td>{{ lien.Notation.lienNote.dateCreation| date('h') }} H {{ lien.Notation.lienNote.dateCreation| date('i') }}</td>
                <td>
                    <a href="{{ path('Modifier_Lien',{id : lien.Notation.lienNote.id }) }}" class="btn btn-info">Edidter</a>
                </td>
                <td>
                    <a href="{{ path('Supprimer_Lien',{id : lien.Notation.lienNote.id }) }}" class="btn btn-danger">Supprimer</a>
                </td>
                <td>
                    <a href="{{ path('Partager_Lien',{id : lien.Notation.lienNote.id }) }}" class="btn btn-success">Partager</a>
                </td>
                <td>
                    {{ lien.moyenne }}
                </td>
            </tr>
        {% endfor %}
    </table>