
    <table class="table-bordered table arrow">
        <tr>
            <th>Titre</th>
            <th>Url</th>
            <th>Date creation</th>
            <th>Heure creation</th>
            <th>Edition</th>
            <th>Suppression</th>
            <th>Partager</th>
            <th>Tags</th>
            <th>Noyenne Note</th>
        </tr>
        {% for item in result %}
            <tr>
                <td>{{ item.note.lienNote.titre }}</td>
                <td><a href="{{ item.note.lienNote.url }}">{{ item.note.lienNote.url }}</a></td>
                <td>{{ item.note.lienNote.dateCreation| date('d/m/Y') }}</td>
                <td>{{ item.note.lienNote.dateCreation| date('h') }} H {{ item.note.lienNote.dateCreation| date('i') }}</td>
                <td>
                    <a href="{{ path('Modifier_Lien',{id : item.note.lienNote.id }) }}" class="btn btn-info">Edidter</a>
                </td>
                <td>
                    <a href="{{ path('Supprimer_Lien',{id : item.note.lienNote.id }) }}" class="btn btn-danger">Supprimer</a>
                </td>
                <td>
                    <a href="{{ path('Partager_Lien',{id : item.note.lienNote.id  }) }}" class="btn btn-success">Partager</a>
                </td>
                <td>{% for tag in item.note.lienNote.tags %}<a href="#">#{{ tag.libelle }} </a> {% endfor %}</td>
                <td>{{ item.moyenne }}</td>
            </tr>
        {% endfor %}

    </table>
