<table class="table row">
    {% for item in result %}
        <tr>
            <td>
                <strong><a href="{{ path('groupe_voir',{ id : item.id }) }}" style="color:#005580">{{ item.nomDuGroupe }}</a></strong>
                <br> <em>Groupe {{ item.droit }}</em>  <span style="color: #adadad">{{ item.membres|length }} membre(s)</span>

            </td>
            <td>
                <em style="color:#147E46">{{ item.description | slice(0 ,25) }}</em>
            </td>
            <td>
                <a href="{{ path('groupe_suivre',{id : item.id }) }}" class="btn btn-success">Suivre ce Groupe</a>
            </td>
            <td>
                <a href="{{ path('groupe_voir',{id : item.id }) }}" class="btn btn-info">Voir ce Groupe</a>
            </td>
        </tr>
    {% endfor %}
</table>